<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibId</key>
			<string>apple_sdk_iphoneos8.1</string>
			<key>LibName</key>
			<string>iOS</string>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>platform</key>
			<string>iphoneos</string>
			<key>project</key>
			<string>TextKitSimpleLayout.xcodeproj</string>
			<key>target</key>
			<string>TextKitSimpleLayout</string>
		</dict>
		<key>LuaAppWindow edited source path</key>
		<string>ViewController</string>
		<key>LuaAppWindow frame</key>
		<string>50 449 1300 746 0 0 2560 1417 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.9</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>ViewController</string>
			<string>Chrysler_Building</string>
			<string>Rockefeller</string>
		</array>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>iphoneos</string>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>SImpleImage</string>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>Chrysler_Building</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>421271287.76859099</real>
			<key>SourceItemOriginalFilePath</key>
			<string>/Users/jean-luc/Developpement/CocoaHeads/TextKit Rennes #17 - TextKit/Apps CodeFlow/TextKitSimpleLayout/TextKitSimpleLayout/Chrysler_Building.jpg</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va+gEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAA2AMAAAQAAAADAwAAAAMAAAUAAAABAQAAVXNlcnMA
			AAAIAAAAAQEAAGplYW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50
			AAAACgAAAAEBAABDb2NvYUhlYWRzAAAcAAAAAQEAAFRleHRLaXQg
			UmVubmVzICMxNyAtIFRleHRLaXQNAAAAAQEAAEFwcHMgQ29kZUZs
			b3cAAAATAAAAAQEAAFRleHRLaXRTaW1wbGVMYXlvdXQAFQAAAAEB
			AABDaHJ5c2xlcl9CdWlsZGluZy5qcGcAAAAkAAAAAQYAABAAAAAg
			AAAAMAAAAEgAAABcAAAAgAAAAJgAAACYAAAAtAAAAAgAAAAEAwAA
			fGQCAAAAAAAIAAAABAMAAMN7TgAAAAAACAAAAAQDAAA1g04AAAAA
			AAgAAAAEAwAAEt5PAAAAAAAIAAAABAMAABXeTwAAAAAACAAAAAQD
			AAAX3k8AAAAAAAgAAAAEAwAAGd5PAAAAAAAIAAAABAMAALPeTwAA
			AAAACAAAAAQDAAC43k8AAAAAACQAAAABBgAAAAEAABABAAAgAQAA
			MAEAAEABAABQAQAAYAEAAHABAACAAQAACAAAAAAEAABBuPyBHwAA
			ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
			AAAHAAAAAAAAAAQAAAADAwAA9wEAAAgAAAABCQAAZmlsZTovLy8M
			AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAABGpwMBAAAIAAAA
			AAQAAEG4Iv/AAAAAJAAAAAEBAAAxQkIzNEI4QS03RjU5LTNDMjkt
			OUJBOS0yMTNBRTg0OTM4NkUYAAAAAQIAAIEAAAABAAgA7xcAAAEA
			CAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAIgEAAAECAAA5
			NTM3NTI3MjEwY2VmMGVmODZlZDE0ZDdhZmVlZDU2ZTM3MzAxMTBi
			OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29t
			LmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7
			MDEwMDAwMDg7MDAwMDAwMDAwMDRmZGViODsvdXNlcnMvamVhbi1s
			dWMvZGV2ZWxvcHBlbWVudC9jb2NvYWhlYWRzL3RleHRraXQgcmVu
			bmVzICMxNyAtIHRleHRraXQvYXBwcyBjb2RlZmxvdy90ZXh0a2l0
			c2ltcGxlbGF5b3V0L3RleHRraXRzaW1wbGVsYXlvdXQvY2hyeXNs
			ZXJfYnVpbGRpbmcuanBnAAAA2AAAAP7///8BAAAAAAAAABEAAAAE
			EAAA1AAAAAAAAAAFEAAAkAEAAAAAAAAQEAAAzAEAAAAAAABAEAAA
			vAEAAAAAAAACIAAAmAIAAAAAAAAFIAAACAIAAAAAAAAQIAAAGAIA
			AAAAAAARIAAATAIAAAAAAAASIAAALAIAAAAAAAATIAAAPAIAAAAA
			AAAgIAAAeAIAAAAAAAAwIAAApAIAAAAAAAABwAAA7AEAAAAAAAAR
			wAAAIAAAAAAAAAASwAAA/AEAAAAAAAAQ0AAABAAAAAAAAACA8AAA
			rAIAAAAAAAA=
			</data>
		</dict>
		<key>Rockefeller</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>428829147.29791999</real>
			<key>SourceItemOriginalFilePath</key>
			<string>/Users/jean-luc/Developpement/CocoaHeads/TextKit Rennes #17 - TextKit/Apps CodeFlow/TextKitSimpleLayout/TextKitSimpleLayout/Rockefeller.png</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va9gEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAyAMAAAQAAAADAwAAAAMAAAUAAAABAQAAVXNlcnMA
			AAAIAAAAAQEAAGplYW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50
			AAAACgAAAAEBAABDb2NvYUhlYWRzAAAcAAAAAQEAAFRleHRLaXQg
			UmVubmVzICMxNyAtIFRleHRLaXQNAAAAAQEAAEFwcHMgQ29kZUZs
			b3cAAAATAAAAAQEAAFRleHRLaXRTaW1wbGVMYXlvdXQADwAAAAEB
			AABSb2NrZWZlbGxlci5wbmcAJAAAAAEGAAAQAAAAIAAAADAAAABI
			AAAAXAAAAIAAAACYAAAAmAAAALQAAAAIAAAABAMAAHxkAgAAAAAA
			CAAAAAQDAADDe04AAAAAAAgAAAAEAwAANYNOAAAAAAAIAAAABAMA
			ABLeTwAAAAAACAAAAAQDAAAV3k8AAAAAAAgAAAAEAwAAF95PAAAA
			AAAIAAAABAMAABneTwAAAAAACAAAAAQDAACz3k8AAAAAAAgAAAAE
			AwAAwd5PAAAAAAAkAAAAAQYAAPgAAAAIAQAAGAEAACgBAAA4AQAA
			SAEAAFgBAABoAQAAeAEAAAgAAAAABAAAQbj9aHoAAAAYAAAAAQIA
			AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABwAAAAAA
			AAAEAAAAAwMAAPcBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
			YWNpbnRvc2ggSEQIAAAABAMAAAAARqcDAQAACAAAAAAEAABBuCL/
			wAAAACQAAAABAQAAMUJCMzRCOEEtN0Y1OS0zQzI5LTlCQTktMjEz
			QUU4NDkzODZFGAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAA
			AAABAAAAAQEAAC8AAAAAAAAAAQUAABwBAAABAgAAOGMyM2FiMDE1
			OTNkYTYyZDc1MzBkY2E0OWE3NmU0NTBmZDlhMzkzNTswMDAwMDAw
			MDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5h
			cHAtc2FuZGJveC5yZWFkLXdyaXRlOzAwMDAwMDAxOzAxMDAwMDA4
			OzAwMDAwMDAwMDA0ZmRlYzE7L3VzZXJzL2plYW4tbHVjL2RldmVs
			b3BwZW1lbnQvY29jb2FoZWFkcy90ZXh0a2l0IHJlbm5lcyAjMTcg
			LSB0ZXh0a2l0L2FwcHMgY29kZWZsb3cvdGV4dGtpdHNpbXBsZWxh
			eW91dC90ZXh0a2l0c2ltcGxlbGF5b3V0L3JvY2tlZmVsbGVyLnBu
			ZwDYAAAA/v///wEAAAAAAAAAEQAAAAQQAADMAAAAAAAAAAUQAACI
			AQAAAAAAABAQAADEAQAAAAAAAEAQAAC0AQAAAAAAAAIgAACQAgAA
			AAAAAAUgAAAAAgAAAAAAABAgAAAQAgAAAAAAABEgAABEAgAAAAAA
			ABIgAAAkAgAAAAAAABMgAAA0AgAAAAAAACAgAABwAgAAAAAAADAg
			AACcAgAAAAAAAAHAAADkAQAAAAAAABHAAAAgAAAAAAAAABLAAAD0
			AQAAAAAAABDQAAAEAAAAAAAAAIDwAACkAgAAAAAAAA==
			</data>
		</dict>
		<key>ViewController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Breakpoints</key>
			<array>
				<integer>7</integer>
			</array>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>ViewController</string>
			<key>SourceItemChangeTime</key>
			<real>440438933.699889</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>5983</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1686</integer>
				<key>SrcEditor Visible Location</key>
				<integer>5356</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
