<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibId</key>
			<string>apple_sdk_iphoneos9.0</string>
			<key>LibName</key>
			<string>iOS</string>
		</dict>
		<dict>
			<key>BindingsLibSourceGroupType</key>
			<string>SelfGeneratedBindingsLib</string>
			<key>CustomBindingsLibBindingsSourcePath</key>
			<string>TextKitSimpleLayout.xcodeproj</string>
			<key>CustomBindingsLibCompilationOptions</key>
			<array>
				<string>-fembed-bitcode</string>
			</array>
			<key>CustomBindingsLibHeadersParsingOptions</key>
			<array>
				<string>-include</string>
				<string>/Volumes/Brume/Celedev CodeFlow/CodeFlow Sample Applications/TextKitSimpleLayout/TextKitSimpleLayout/TextKitSimpleLayout-Prefix.pch</string>
				<string>-fobjc-arc</string>
				<string>-fmodules</string>
			</array>
			<key>CustomBindingsLibHeadersSearchPaths</key>
			<array>
				<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/iphoneos/include</string>
				<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/headers</string>
			</array>
			<key>CustomBindingsLibLastGenerationDate</key>
			<date>2015-09-16T12:27:53Z</date>
			<key>CustomBindingsLibPlatformSdkName</key>
			<string>iphoneos9.0</string>
			<key>CustomBindingsLibSourceFilesTree</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGjo9YJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QJwcIERIXHB0jKCkvMDY9Pj9DSE1O
			UlNfYGFiY2RlamtvcHx9foGFilUkbnVsbNQJCgsMDQ4PEFZvYmpl
			Y3RUbmFtZVphdHRyaWJ1dGVzViRjbGFzc4ADgAKAJoAlUNITDBQW
			Wk5TLm9iamVjdHOhFYAEgCPUCQoLDBgZGhCABoAFgCSAJV8QE1Rl
			eHRLaXRTaW1wbGVMYXlvdXTSEwweFqMfICGAB4ARgByAI9QJCgsM
			JCUmJ4AJgAiADIAQXUFwcERlbGVnYXRlLmjTKgwrLC0uV05TLmJh
			c2VbTlMucmVsYXRpdmWAAIALgApfEH9maWxlOi8vL1ZvbHVtZXMv
			QnJ1bWUvQ2VsZWRldiUyMENvZGVGbG93L0NvZGVGbG93JTIwU2Ft
			cGxlJTIwQXBwbGljYXRpb25zL1RleHRLaXRTaW1wbGVMYXlvdXQv
			VGV4dEtpdFNpbXBsZUxheW91dC9BcHBEZWxlZ2F0ZS5o0jEyMzRa
			JGNsYXNzbmFtZVgkY2xhc3Nlc1VOU1VSTKIzNVhOU09iamVjdNM3
			Eww4OjxXTlMua2V5c6E5gA2hO4AOgA9Yc2VsZWN0ZWQI0jEyQEFf
			EBNOU011dGFibGVEaWN0aW9uYXJ5o0BCNVxOU0RpY3Rpb25hcnnS
			MTJERVxDREZMTmFtZWRVcmyjRkc1XENERkxOYW1lZFVybF1DREZM
			TmFtZWRJdGVt1AkKCwxJSksngBOAEoAVgBBfEBBWaWV3Q29udHJv
			bGxlci5o0yoMKywtUYAAgAuAFF8QgmZpbGU6Ly8vVm9sdW1lcy9C
			cnVtZS9DZWxlZGV2JTIwQ29kZUZsb3cvQ29kZUZsb3clMjBTYW1w
			bGUlMjBBcHBsaWNhdGlvbnMvVGV4dEtpdFNpbXBsZUxheW91dC9U
			ZXh0S2l0U2ltcGxlTGF5b3V0L1ZpZXdDb250cm9sbGVyLmjTNxMM
			VFk8pFVWOViAFoAXgA2AGKRaW1tdgBmAGoAagBuAD18QEmdlbmVy
			YXRpb25GaWxlRGF0ZV8QFGdlbmVyYXRpb25EaWRTdWNjZWVkXxAX
			Z2VuZXJhdGlvbkx1YU1vZHVrZVBhdGgjQbkQA0QAAAAJXlZpZXdD
			b250cm9sbGVy1AkKCwxmZ2gngB6AHYAggBBfEA9QYXRoSW1hZ2VW
			aWV3LmjTKgwrLC1ugACAC4AfXxCBZmlsZTovLy9Wb2x1bWVzL0Jy
			dW1lL0NlbGVkZXYlMjBDb2RlRmxvdy9Db2RlRmxvdyUyMFNhbXBs
			ZSUyMEFwcGxpY2F0aW9ucy9UZXh0S2l0U2ltcGxlTGF5b3V0L1Rl
			eHRLaXRTaW1wbGVMYXlvdXQvUGF0aEltYWdlVmlldy5o0zcTDHF2
			PKRVVjlYgBaAF4ANgBikd1tbeoAhgBqAGoAigA8jQbkadt4AAABd
			UGF0aEltYWdlVmlld9IxMn+AV05TQXJyYXmifzXTNxMMgoM8oKCA
			D9IxMoaHXkNERkxOYW1lZEdyb3Vwo4iJNV5DREZMTmFtZWRHcm91
			cF1DREZMTmFtZWRJdGVt0zcTDIuMPKCggA9fEA9OU0tleWVkQXJj
			aGl2ZXLRkJFUcm9vdIABAAgAEQAaACMALQAyADcAYQBnAHAAdwB8
			AIcAjgCQAJIAlACWAJcAnACnAKkAqwCtALYAuAC6ALwAvgDUANkA
			3QDfAOEA4wDlAO4A8ADyAPQA9gEEAQsBEwEfASEBIwElAacBrAG3
			AcABxgHJAdIB2QHhAeMB5QHnAekB6wH0AfUB+gIQAhQCIQImAjMC
			NwJEAlICWwJdAl8CYQJjAnYCfQJ/AoECgwMIAw8DFAMWAxgDGgMc
			AyEDIwMlAycDKQMrA0ADVwNxA3oDewOKA5MDlQOXA5kDmwOtA7QD
			tgO4A7oEPgRFBEoETAROBFAEUgRXBFkEWwRdBF8EYQRqBHgEfQSF
			BIgEjwSQBJEEkwSYBKcEqwS6BMgEzwTQBNEE0wTlBOgE7QAAAAAA
			AAIBAAAAAAAAAJIAAAAAAAAAAAAAAAAAAATv
			</data>
			<key>CustomBindingsLibTargetOSVersion</key>
			<string>7.1</string>
			<key>CustomBindingsLibXcodeTargetInfo</key>
			<dict>
				<key>target</key>
				<string>TextKitSimpleLayout</string>
				<key>targetSdk</key>
				<string>iphoneos</string>
				<key>targetType</key>
				<string>com.apple.product-type.application</string>
			</dict>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>project</key>
			<string>TextKitSimpleLayout.xcodeproj</string>
			<key>target</key>
			<string>TextKitSimpleLayout</string>
			<key>targetSdk</key>
			<string>iphoneos</string>
			<key>targetType</key>
			<string>com.apple.product-type.application</string>
		</dict>
		<key>LuaAppWindow edited source path</key>
		<string>ViewController</string>
		<key>LuaAppWindow frame</key>
		<string>942 519 1300 746 0 0 2560 1417 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.9</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>ViewController</string>
			<string>Chrysler_Building</string>
			<string>Rockefeller</string>
		</array>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>iphoneos</string>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>SImpleImage</string>
			<key>SourceItemChangeTime</key>
			<real>465296911.20628297</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>Chrysler_Building</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>465297249.03792799</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>534</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>1022</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>/Users/jean-luc/Developpement/CocoaHeads/TextKit Rennes #17 - TextKit/Apps CodeFlow/TextKitSimpleLayout/TextKitSimpleLayout/Chrysler_Building.jpg</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va+gEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAA2AMAAAQAAAADAwAAAAIAAAUAAAABAQAAVXNlcnMA
			AAAIAAAAAQEAAGplYW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50
			AAAACgAAAAEBAABDb2NvYUhlYWRzAAAcAAAAAQEAAFRleHRLaXQg
			UmVubmVzICMxNyAtIFRleHRLaXQNAAAAAQEAAEFwcHMgQ29kZUZs
			b3cAAAATAAAAAQEAAFRleHRLaXRTaW1wbGVMYXlvdXQAFQAAAAEB
			AABDaHJ5c2xlcl9CdWlsZGluZy5qcGcAAAAkAAAAAQYAABAAAAAg
			AAAAMAAAAEgAAABcAAAAgAAAAJgAAACYAAAAtAAAAAgAAAAEAwAA
			fGQCAAAAAAAIAAAABAMAAMN7TgAAAAAACAAAAAQDAAA1g04AAAAA
			AAgAAAAEAwAAEt5PAAAAAAAIAAAABAMAABXeTwAAAAAACAAAAAQD
			AAAX3k8AAAAAAAgAAAAEAwAAGd5PAAAAAAAIAAAABAMAALPeTwAA
			AAAACAAAAAQDAACMFhoCAAAAACQAAAABBgAAAAEAABABAAAgAQAA
			MAEAAEABAABQAQAAYAEAAHABAACAAQAACAAAAAAEAABBuPyBHwAA
			ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
			AAAHAAAAAAAAAAQAAAADAwAA9wEAAAgAAAABCQAAZmlsZTovLy8M
			AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAAA4OQIBAAAIAAAA
			AAQAAEG4Iv/AAAAAJAAAAAEBAAAxQkIzNEI4QS03RjU5LTNDMjkt
			OUJBOS0yMTNBRTg0OTM4NkUYAAAAAQIAAIEAAAABAAgA7xcAAAEA
			CAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAIgEAAAECAABm
			NGQyZWZhNGFiOTc4ZWRjM2M4ZGQyOWEwZWY1MjY0ZGNlZGRkMDIw
			OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29t
			LmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7
			MDEwMDAwMDg7MDAwMDAwMDAwMjFhMTY4YzsvdXNlcnMvamVhbi1s
			dWMvZGV2ZWxvcHBlbWVudC9jb2NvYWhlYWRzL3RleHRraXQgcmVu
			bmVzICMxNyAtIHRleHRraXQvYXBwcyBjb2RlZmxvdy90ZXh0a2l0
			c2ltcGxlbGF5b3V0L3RleHRraXRzaW1wbGVsYXlvdXQvY2hyeXNs
			ZXJfYnVpbGRpbmcuanBnAAAA2AAAAP7///8BAAAAAAAAABEAAAAE
			EAAA1AAAAAAAAAAFEAAAkAEAAAAAAAAQEAAAzAEAAAAAAABAEAAA
			vAEAAAAAAAACIAAAmAIAAAAAAAAFIAAACAIAAAAAAAAQIAAAGAIA
			AAAAAAARIAAATAIAAAAAAAASIAAALAIAAAAAAAATIAAAPAIAAAAA
			AAAgIAAAeAIAAAAAAAAwIAAApAIAAAAAAAABwAAA7AEAAAAAAAAR
			wAAAIAAAAAAAAAASwAAA/AEAAAAAAAAQ0AAABAAAAAAAAACA8AAA
			rAIAAAAAAAA=
			</data>
		</dict>
		<key>Rockefeller</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>428829147.29791999</real>
			<key>SourceItemOriginalFilePath</key>
			<string>/Users/jean-luc/Developpement/CocoaHeads/TextKit Rennes #17 - TextKit/Apps CodeFlow/TextKitSimpleLayout/TextKitSimpleLayout/Rockefeller.png</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va9gEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAyAMAAAQAAAADAwAAAAIAAAUAAAABAQAAVXNlcnMA
			AAAIAAAAAQEAAGplYW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50
			AAAACgAAAAEBAABDb2NvYUhlYWRzAAAcAAAAAQEAAFRleHRLaXQg
			UmVubmVzICMxNyAtIFRleHRLaXQNAAAAAQEAAEFwcHMgQ29kZUZs
			b3cAAAATAAAAAQEAAFRleHRLaXRTaW1wbGVMYXlvdXQADwAAAAEB
			AABSb2NrZWZlbGxlci5wbmcAJAAAAAEGAAAQAAAAIAAAADAAAABI
			AAAAXAAAAIAAAACYAAAAmAAAALQAAAAIAAAABAMAAHxkAgAAAAAA
			CAAAAAQDAADDe04AAAAAAAgAAAAEAwAANYNOAAAAAAAIAAAABAMA
			ABLeTwAAAAAACAAAAAQDAAAV3k8AAAAAAAgAAAAEAwAAF95PAAAA
			AAAIAAAABAMAABneTwAAAAAACAAAAAQDAACz3k8AAAAAAAgAAAAE
			AwAAwd5PAAAAAAAkAAAAAQYAAPgAAAAIAQAAGAEAACgBAAA4AQAA
			SAEAAFgBAABoAQAAeAEAAAgAAAAABAAAQbj9aHoAAAAYAAAAAQIA
			AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABwAAAAAA
			AAAEAAAAAwMAAPcBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
			YWNpbnRvc2ggSEQIAAAABAMAAAAAODkCAQAACAAAAAAEAABBuCL/
			wAAAACQAAAABAQAAMUJCMzRCOEEtN0Y1OS0zQzI5LTlCQTktMjEz
			QUU4NDkzODZFGAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAA
			AAABAAAAAQEAAC8AAAAAAAAAAQUAABwBAAABAgAANTJiY2Y5Y2Qz
			MTlhOWE2MjQ0YTljNDAxZjliNTcyZjQ4YmFhY2NkOTswMDAwMDAw
			MDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5h
			cHAtc2FuZGJveC5yZWFkLXdyaXRlOzAwMDAwMDAxOzAxMDAwMDA4
			OzAwMDAwMDAwMDA0ZmRlYzE7L3VzZXJzL2plYW4tbHVjL2RldmVs
			b3BwZW1lbnQvY29jb2FoZWFkcy90ZXh0a2l0IHJlbm5lcyAjMTcg
			LSB0ZXh0a2l0L2FwcHMgY29kZWZsb3cvdGV4dGtpdHNpbXBsZWxh
			eW91dC90ZXh0a2l0c2ltcGxlbGF5b3V0L3JvY2tlZmVsbGVyLnBu
			ZwDYAAAA/v///wEAAAAAAAAAEQAAAAQQAADMAAAAAAAAAAUQAACI
			AQAAAAAAABAQAADEAQAAAAAAAEAQAAC0AQAAAAAAAAIgAACQAgAA
			AAAAAAUgAAAAAgAAAAAAABAgAAAQAgAAAAAAABEgAABEAgAAAAAA
			ABIgAAAkAgAAAAAAABMgAAA0AgAAAAAAACAgAABwAgAAAAAAADAg
			AACcAgAAAAAAAAHAAADkAQAAAAAAABHAAAAgAAAAAAAAABLAAAD0
			AQAAAAAAABDQAAAEAAAAAAAAAIDwAACkAgAAAAAAAA==
			</data>
		</dict>
		<key>ViewController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>465296995.79087502</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>11</integer>
				<key>SrcEditor Selected Location</key>
				<integer>5884</integer>
				<key>SrcEditor Visible Length</key>
				<integer>2078</integer>
				<key>SrcEditor Visible Location</key>
				<integer>2283</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
